include LICENSE
include README.md
recursive-include exma *.c
recursive-include exma *.h

exclude tox.ini
exclude pyproject.toml
exclude .clang-format
exclude .readthedocs.yml
recursive-exclude tests *
recursive-exclude docs *
